
body{
	
	font-family: Pontano Sans, sans-serif;
	background-color: #FFFFFF;
	margin: 0px;
	line-height: 25px;
	letter-spacing: 0.9px;
}

h1{
	font-family: Anton, sans-serif;
	font-size: 40px; 
	line-height: 55px;
	font-weight: 200; 
	letter-spacing: -0.1px; 
	color: #2D567B;
	margin-left: 27px;
	width: 50%;
}

h1 aqui{
	color: #FFFFFF;
	letter-spacing: 1.5px;
}

.logo{
	margin: 0 0 0 9px;
	display: flex;
}

.menu{
	height: inherit;
	justify-content: space-between;
}

.header{
	background-color: #5F0B56;
	color: #FFFFFF;
	display: flex;
	justify-content: space-between;
	height:70px;
	align-items: center;
    margin: 0 auto;
	flex-wrap: wrap;
	max-width: 1220px;
}
.header ol{
	display: flex;
	height: inherit;
}
.header ol li{
	height: inherit;
}
.header a{
	height: inherit;
	color: #FFFFFF;
	text-decoration: none;
	display: flex;
	align-items: center;
	padding: 0px 10px; 
}

ol, ul{
	margin: 0px;
	list-style: none;
	padding: 0px;
}

.link{
	color: #FFFFFF;
}


.hero{
	background-color: #0B243B;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 auto;
	flex-wrap: wrap;
	height: 300px;
	overflow: hidden; 
	max-width: 1200px;
	border-left: 20px solid #5F0B56;
}
.hero-image{
	object-fit: cover; 
}

.portfolio{
	background-color: #F2F2F2;
	padding: 20px 0;
	flex-wrap: wrap;
	max-width: 1200px;
    margin: 0 auto;
	border-left: 20px solid #5F0B56;
}

.project-details{
	width: 54%;
}
.project-imageContainer{
	width: 45%;
	margin: 0px;
}
.project-title{
	font-size: 25px;
	margin: 0px;
}
.project-course{
	margin: 5px 0px 15px 0px;
}
.project-date{
	margin: 0;
}
.project-url{
	margin: 0;
}
.project-description{
	font-size: 17px;
}
.project{
	border: 1px solid #BDBDBD;
	border-radius: 10px; 
	margin: 15px;
	padding: 20px; 
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

h2{
	font-weight: 550;
	text-transform: uppercase;
	font-family: Anton, sans-serif;
	font-size: 30px; 
	letter-spacing: 0.8px;
	color: #5F0B56;
	margin-left: 29px;
}

h3{
	font-weight: 600;
	text-transform: uppercase;
	color: #2D567B;
	margin-bottom: 25px;
	font-family: Gotu, sans-serif;
	font-size: 25px;
	letter-spacing: 0.5px;
}

h6{
	font-weight: 600;
	font-size: 15px;
	color: #0B4C5F;
	font-family: Gotu, sans-serif;
	letter-spacing: 0.5px;
}

.event-list-cursos{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background-color: #0B243B;
	padding: 30px 0;
}

.event-list-certificados{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background-color: #0B243B;
	padding-bottom: 100px;
	padding: 30px 0;
}

.event-list-title{
	margin: 0px;
	color: #FFFFFF;
	background-color: #5F0B56;
	padding: 50px 0 20px 30px;
}
.event{
	margin: 1%;
	width: 42%;
	border: 2px solid #000000A1;
	border-radius: 8px;
	flex-shrink: 0; 
	overflow: hidden; 
	background-color: #2D567B;
}
.event-imageContainer{
	margin: 0px;
}
.event-image{
	width: 100%;
	height: 200px;
	object-fit: cover;
}
.event-details{
	margin: 20px 40px;
	background-color: #FAFAFA;
	margin-top: -40px; 
	position: relative; 
	padding: 20px;
	text-align: center;
	border-radius: 3px;
    border: 1px solid #BDBDBD;
}
.event-description{
	text-align: left;
	
}
.event-url{
	border: 1px solid #0B4C5F;
    border-radius: 5px;
    padding: 5px 20px;
    text-decoration: none;
    background-color: #04B4AE;
    color: #ffffff;
}
.event-link-ver{
	border: 1px solid #000000;
    border-radius: 5px;
    padding: 5px 20px;
    text-decoration: none;
    background-color: #5F0B56;
    color: #ffffff;
	margin-right: 25px;
}
.event-link-detalle{
	border: 1px solid #000000;
    border-radius: 5px;
    padding: 5px 20px;
    text-decoration: none;
    background-color: #5F0B56;
    color: #ffffff;
	
}
.link{
	padding-top: 20px;
}

.contac{
	background-color: #0B243B;
	color: #FFFFFF;
	height: 130px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 auto;
	flex-wrap: wrap;
	max-width: 1200px;
    border-left: 20px solid #5F0B56;
	padding-top: 70px;
}

.social-link{
	width: 50px;
	height: 50px;
	display: inline-block;
	background-size: 50px 50px; 
	margin: 0px 10px;
}

.social-link.twitter{
	background-image: url("../Mis-imagenes/twitter.svg"); 
	margin-right: 5px;
}
.social-link.facebook{
	background-image: url("../Mis-imagenes/facebook.svg");
	margin-right: 5px;
}
.social-link.instagram{
	background-image: url("../Mis-imagenes/instagram.svg");
	margin: 0 0 0 5px;
}
.social-link.github{
	background-image: url("../Mis-imagenes/github.svg");
	margin-right: 5px;
}
.social-link.linkedin{
	background-image: url("../Mis-imagenes/in.png");
	margin: 0 5px 0 0;
}

.form-email input{
	border-color: #D8D8D8;
	border-style: solid;
	padding:8px 20px 8px 25px;
	background-image: url("../Imagenes/envelope.svg");
	background-size: 20px 20px;
	background-repeat: no-repeat;
	background-position-y: 6px;
	background-position-x: 5px;
	border-radius: 5px;
}

.contac-direction{
	display: flex;
	align-items: center;
	margin-left: 20px;
}

.contac-imageContainer{
	margin: 0px 10px 0px 0px;
}

.form-email button{
	display: block;
	background: transparent;
	color: #FFFFFF;
	border: 1px solid #FFFFFF;
	border-radius: 5px;
	padding: 5px 0px;
	width: 100px;
	margin-top: 10px;
}


.footer{
	background-color: #5F0B56;
	color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 auto;
	height: 70px;
	padding: 0 20px;
	max-width: 1160px;
    border-left: 20px solid #5F0B56;
}
.footer img{
	vertical-align: middle;
}
.footer a{
	color: #FFFFFF;
}
.footer-imageContainer p{
	margin: 0px;
}

.container{
	max-width: 1210px;
	flex: 1; 
	margin: 0 auto; 
	display: inherit; 
	justify-content: inherit;
	align-items: inherit;
	height: inherit;
	flex-wrap: inherit;
	
}
.container-portafolio{
	max-width: 1000px;
	margin: 0 auto; 
	display: inherit; 
	justify-content: inherit;
	align-items: inherit;
	height: inherit;
	flex-wrap: wrap;
}
.container-cursos{
	margin: 0 auto;
	display: inherit; 
	justify-content: inherit;
	align-items: inherit;
	height: inherit;
	flex-wrap: wrap;
	background-color: #0B243B;
	max-width: 1200px;
    border-left: 20px solid #5F0B56;
}
.container-certificados{
	display: inherit; 
	justify-content: inherit;
	align-items: inherit;
	height: wrap;
	flex-wrap: inherit;
	max-width: 1200px;
    border-left: 20px solid #5F0B56;
	margin: 0 auto;
}

.direction{
	display: flex;
}

.container-contacto{
	display: inherit; 
	justify-content: inherit;
	align-items: inherit;
	height: inherit;
	flex-wrap: inherit;
	width: 1500px;
	padding: 0 20px;
}

.container-footer{
	
	display: flex;
	justify-content: inherit;
	align-items: inherit;
	height: inherit;
	flex-wrap: inherit;
}

.footer-telefono{
	display: flex;
    justify-content: center;
    align-items: center;
}

.footer-imageContainer{
	margin: 0 15px 0 0;
}
.certificados{
	margin: 0 auto;
}


/*si se va a usar DESKTOP FIRST es mejor comenzar con los MQ mas grandes*/

/*******************************************************************************MQ ORDENADOR**********************************************************************/
@media screen and (max-width:1024px){
	h1{
		padding: 0 10px;
		margin: 0px;
		width: 59%;
	}
	.event{
		width: 43%;
	}
}

/*******************************************************************************MQ TABLE*********************************************************************/
@media screen and (max-width:767px) 
{
	h1{
		font-size: 2em;
		line-height: 1.2em;
		width: 54%;
		margin: 0px;
		padding: 0 0 0 25px
	}
	.hero{
		position: relative;
	}
	.hero-image{
		width: 40%;
	}
	
	.header{
		display: block;
		height: auto;
	}
	.header .menu{
		padding: 20px 0 20px 0;
	}
	.header ol{
		display: initial; /*valor inicial, uno debajo del otro*/
	}
	.header ol li{
		height: 40px;
	}
	.header a{
		justify-content: center;
	}
	.header .logo{
		justify-content: center;
	}
	
	h2{
		font-size: 25px;
		margin-left: 34px;
	}
	
	.project{
	display: block;
	}
	.project-imageContainer{
		width: auto;
		text-align: center; /*centra la imagen*/
	}
	.project-imageContainer img{
		max-width: 100%; /*se ajusta la imagen al espacio que tiene disponible el contenedor*/
	}
	.project-details{
		width: auto;
		font-size: 16px;
	}
	.project-title{
		font-size: 1.2em;
	}
	.project-url{
		font-size: 1em;
	}
	.project-course{
		font-size: 1em;
	}
	.project-date{
		font-size: 1em;
		line-height: 16px;
	}
	.project-description{
		font-size: 0.8em;
		line-height: 17px;
	}
	.project-direction{
		font-size: 0.8em;
		line-height: 17px;
	}
	
	.event{
		width: 80%;
		flex-shrink: initial; /*tamaño inicial, varia*/
	}
	.event-image{
		width: 100%
		}
	.event-details{
		font-size: 16px;
	}
	.event-title{
		font-size: 1.2em;
	}
	.event-description{
		font-size: 0.8em;
	}
	.event-link-ver{
		font-size: 0.8em;
	}
	.event-link-detalle{
		font-size: 0.8em;
	}
}
/*********************************************************************************MQ MOVIL*************************************************************/
@media screen and (max-width:480px){
	h1{
		font-size: 1em;
		line-height: 1em;
		z-index: 2;
		width: 95%;
		text-align: center;
		position: absolute;
		bottom: 1px;
		background-color: #091E319E;
		margin-left: 7px;
		padding: 6px 1px;
	}
	h2{
		font-size: 20px;
		padding: 15px;
		margin: 0;
		text-align: center;
	}
	
	h3{
		margin: 0px;
	}
	
	.hero{
		border: 0;
		position: relative;
	}
	.hero-image{
	position: relative;
    z-index: 1;
    width: 80%;
    right: -35px;
	}

	.portfolio{
		border-left: 8px solid #5F0B56;
		border-right: 8px solid #5F0B56;
	}
	
	.container-cursos{
		border-left: 8px solid #5F0B56;
		border-right: 8px solid #5F0B56;
	}
	.container-certificados{
		border-left: 10px solid #5F0B56;
		border-right: 10px solid #5F0B56;
	}
	
	.event-list-title{
		padding: 30px 0 10px 12px;
	}
	.event{
		width: 90%;
		margin: 3%;
	}
	.event-image{
		height: 160px;
		position: relative;
		top: -10px;
	}
	.event-details{
		font-size: 15px;
		margin: -60px 30px 30px 30px;
		padding: 10px;
	}
	.event-title{
		font-size: 1.2em;
	}
	.event-description{
		font-size: 0.7em;
		line-height: 1.5em;
	}
	.event-link-ver{
		font-size: 0.8em;
		margin-right: 10px;
		padding: 5px 10px;
	}
	.event-link-detalle{
		font-size: 0.8em;
		margin: 0;
		padding: 5px 10px;
	}

	.project-details{
		font-size: 12px;
	}
	.project-title{
		margin: 0px;
	}
	.project-description{
		font-size: 0.8em;
		line-height: 14px;
	}
	.project-direction{
		font-size: 0.8em;
		line-height: 14px;
	}
		
	.contac{
		height: auto;
		padding: 20px;
		justify-content: center;
		text-align: center;
		border-left: 10px solid #5F0B56;
		border-right: 10px solid #5F0B56;
	}
	
	.container-contacto{
		padding: 0;
	}
	
	.social-link.twitter{
	background-image: url("../Mis-imagenes/twitter.svg"); 
	margin: 0;
	background-size: 35px;
	background-repeat: no-repeat;
	}
	.social-link.facebook{
		background-image: url("../Mis-imagenes/facebook.svg");
		margin: 0;
		background-size: 33px;
		background-repeat: no-repeat;
	}
	.social-link.instagram{
		background-image: url("../Mis-imagenes/instagram.svg");
		margin: 0;
		background-size: 33px;
		background-repeat: no-repeat;
	}
	.social-link.github{
		background-image: url("../Mis-imagenes/github.svg");
		margin: 0;
		background-size: 35px;
		background-repeat: no-repeat;
	}
	.social-link.linkedin{
		background-image: url("../Mis-imagenes/in.png");
		margin: 0 0 0 10px;
		background-size: 36px;
		background-repeat: no-repeat;
	}
	.direction{
		margin: 0 0 30px 0;
	}
	
	.footer{
		display: block;
		height: auto;
		padding: 10px;
		justify-content: center;
		text-align: center;
	}
	.container-footer{
		margin: 0 auto;
	}
	.footer-telefono {
    margin: 0 auto;
    text-align: center;
}

/*********************************************************************************MQ MOVIL PEQUEÑO*************************************************************/
@media screen and (max-width:320px){
	h1{
		font-size: 1.1em;
		line-height: 1em;
		z-index: 2;
		width: 95%;
		text-align: center;
		position: absolute;
		bottom: 1px;
		background-color: #091E314D;
		margin-left: 7px;
		padding: 6px 1px;
	}
	
	h2{
		text-align: center;
	}
	
	.hero{
		position: relative;
	}
	.hero-image{
		position: absolute; 
		z-index: 1;
		width: 100%;
	}
	
	.event-details {
    margin: -100px 15px 15px 15px;
	padding: 10px;
	}
	.event-image{
		position: relative;
		top: -30px;
	}
	.event{
		width: 93%;
	}
	.event-list-certificados p aqui{
		font-size: 0.9em;
	}
	.event-title{
		font-size: 1em;
	}
	
	.social{
		display: flex;
	}
	
	.direction p{
		font-size: 0.8em;
		line-height: 19px;
	}
	.direction img{
		width: 30px;
	}
	
	.footer p{
		font-size: 0.8em;
		line-height: 19px;
	}
	.footer img{
		width: 27px;
		height: 26px;
	}
	.footer-imageContainer{
		margin: 0 8px 0 0;
	}
}










